.banner {
  background: url("https://i.ibb.co.com/C3sSG3CS/Mohammadpur-Skyline.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.parent {
  position: relative;
}

.child {
  /* border-radius: 0px 0px 8px 8px; */
  background: rgba(11, 11, 11, 0.50);
  position: absolute;
  bottom: 0;
}